include cjklib/data/*.csv
include cjklib/data/*.sql
include cjklib/*.py
include cjklib/reading/*.py
include cjklib/dictionary/*.py
include cjklib/build/*.py
include cjklib/test/*.py
include cjklib/cjklib.db
include cjklib/cjklib.conf
include ez_setup.py
include setup.py
include setup.cfg
include doc/*.rst
include doc/library/*.rst
include doc/conf.py
include doc/make.bat
include doc/Makefile
include doc/_build
include doc/_templates/*
include doc/_static/*
include test/*.py
include test/Makefile
include examples/*.py
include scripts/*.py
include scripts/*.csv
include README
include COPYING
include DEVELOPMENT
include THANKS
include TODO
include NEWS
include changelog
include pylintrc
include characterdb/*
